@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rye&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@200..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rye&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog-content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.image-section img {
    max-width: 50%;
    height: auto;
    margin: 0 auto 20px auto;
}

.text-section {
    /*flex: 1;*/
    margin: 0 auto;
    margin-left: 20px;
}

.text-section h1 {
    font-size: 5rem;
    color: #333;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}



.social-icons a {
    margin-right: 10px;
}

.text-section h2 {
    font-size: 1.5rem;
    color: #006400; /* Verde */
    margin-bottom: 15px;
}

.text-section p {
    margin-bottom: 15px;
    color: #555;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-size: 2rem;
}

.subti{
    font-size: 4rem;
    color: brown;
}